parameters:
    level: 5

    paths:
        - src
        - assets
        - controllers
        - models
        - widgets

    scanDirectories:
        - components
        - forms
        - validators

    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php

    dynamicConstantNames:
        - YII_DEBUG
        - YII_ENV
        - YII_ENV_DEV
        - YII_ENV_PROD

    tmpDir: %currentWorkingDirectory%/runtime
